/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
}

/* HEADER */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
    border-bottom: 2px solid hsl(219, 9%, 45%);
}

/* LEFT SIDE */
.ham-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.hamburger{
    cursor: pointer;
}

/* RIGHT SIDE */
.cart-vatar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-vatar-img-cont{
    width: 24px;
}

.cart-vatar-img-cont img{
    width: 100%;
    cursor: pointer;
}

#cart-absolute{
    position: relative;
}

.cart-count{
    position: absolute;
    background: orange;
    padding: 4px;
    border-radius: 50%;
    top: -15px;
    right: -8px;
    font-size: 12px;
    margin-top: 4px;
}



/* NAV OVERLAY (FULL SCREEN) */
.nav-container{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    z-index: 1000;
    transition: 0.5s ease;
}

.nav-container.active{
    left: 0;
}


.nav{
    width: 250px;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 20px 20px;
    position: relative;
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}
.nav a:hover{
    transform: scaleY(1.3);
}
.close{
    width: 18px;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.nav-a{
    display: none;
}

.nav-a a{
    text-decoration: none;
    color: gray;
}

@media (min-width: 750px){
    .hamburger{
        display: none;
    }

    .nav-a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        transition: all 0.25s ease-in-out;
    }   


    .nav-a a:hover{
        border-bottom: 2px ridge gray;
        
    }

    .desktop-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }
}

/*One*/

.one{
    position: relative;
}

.one-img{
    width: 100%;
}


.previous,
.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.previous{
    left: 20px;
}

.next{
    right: 20px;
}

.previous:active{
    opacity: 0.5;
}

.next:active{
    opacity: 0.5;
}

/*two*/

.two{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 6px 20px;
}

.two-head{
    color: gray;
    font-weight: 900;
    margin-bottom: 10px;
}

.two h2{
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 1.8em;
}

.two p{
    color: gray;
    line-height: 30px;
    margin-bottom: 20px;
}

.two-flex{
    display: flex;
    flex-direction: row;
    gap: 80%;
    align-items: flex-end;
    margin-bottom: 20px;
}

.two-flex-div{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.one-two-five{
    padding: 5px 8px;
    font-size: 1.8;
    font-weight: 900;
}

.fifty{
    color: white;
    background: black;
    padding: 5px 8px;
    border-radius: 5px;
}

.two-fifty{
    padding: 5px 8px;
    text-decoration: line-through;
    color: gray;
}




/*three*/

.three{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto 20px auto;
}

.plus-minus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: hsl(223, 64%, 98%);
    width: 100%;
    padding: 15px;
    border-radius: 9px;
}

.plus-minus p{
    font-weight: 900;
}

.add-cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background: hsl(26, 100%, 55%);
    padding: 15px 0;
    width: 100%;
    margin: 10px auto;
    border-radius: 9px;
    cursor: pointer;
    transition: all ease 0.15s;

}

.add-cart:hover{
    opacity: 0.9;
}

.add-cart:active{
    opacity: 0.5;
}

.plus-minus img{
    cursor: pointer;
}

.plus-minus img:active{
    opacity: 0.6;
}

.attribution{
    display: flex;
    justify-content: center;
    align-items: center;

}

.attribution a{
    text-decoration: none;
    color: black;
}

.one-grid{
    display: none;
}
@media(min-width: 750px){
    .desktop{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        max-width: 80%;
        margin: 50px auto;
        gap: 70px;
    }

    .previous, .next{
        display: none;
    }

    .one-img{
        border-radius: 15px;
    }

    .one-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
        width: 100%;
        margin: 10px auto;
        gap: 20px;
    }

    .one-grid img{
        width: 100px;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
    }
    }

    .one-grid img:hover{
        filter: brightness(80%);
        border: 2px hsl(26, 100%, 55%) solid;
        opacity: 0.7;
        transform: scale(1.1);
    }

    .one-grid img:active{
        opacity: 0.4;
    }

.cart-container-one{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 400px;
    height: 250px;
    box-shadow: 0 0 10px rgb(153, 152, 152, 0.5);
    position: absolute;
    top: 70px;
    right: 50px;
    z-index: 200;
    background: white;
}

.cart-container-one h4{
    border-bottom: 1px hsl(219, 9%, 45%) solid;
    padding: 20px;
}

.cart-container-one p{
    align-self: center;
    margin: auto 2px;
}

.cart-container-two{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    width: 400px;
    height: 250px;
    box-shadow: 0 0 10px rgb(153, 152, 152, 0.5);
    position: absolute;
    top: 70px;
    right: 50px;    
    z-index: 200;
    background: white;
}

.cart-container-two h4{
    border-bottom: 1px hsl(219, 9%, 45%) solid;
    padding: 20px;
}

.cart-container-two-grid{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.cart-grid-img{
    width: 70px;
    border-radius: 6px;
}

.cart-width{
    width: 100%;
    margin: 2px auto;
}

.checkout{
    background: hsl(26, 100%, 55%);
    font-weight: 900;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    width: 90%;
    margin: 2px auto;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.checkout:hover{
    opacity: 0.7;
}

.checkout:active{
    opacity: 0.4;
}

.dollar, .total, .remainder{
    font-weight: 900;
    color: black;
    font-size: 1.4em;
}

.cart-container-two-grid small{
    color: hsl(219, 9%, 45%);
}

.delete{
    cursor: pointer;
}

.delete:active{
    opacity: 0.4;
}

@media(max-width: 768px){
    .cart-container-one{
        right: 20px;
    }
    .cart-container-two{
        right: 20px;
    }
}